@{ ViewBag.Title = "IP Lookup"; }

<h2>Dev</h2>

<ul>
    <li><a href="/Dev/DisplayAuthTokens">Display Auth Tokens</a></li>
    <li><a href="/Dev/DisplayLastMessages">Display Last Messages</a></li>
    <li><a href="/Dev/DisplayPlonks">Display Plonks</a></li>
    <li><a href="/Dev/DisplayResources">Display Resources</a></li>
    <li><a href="/Dev/EmailTest">Email Test</a></li>
    <li><a href="/Dev/IPLookup">IPLookup</a></li>
    <li><a href="/Dev/IPLookup2">IPLookup2</a></li>
    <li><a href="/Dev/MessageVotes">Message Votes</a></li>
    <li><a href="/Dev/SimulateUser">Simulate User</a></li>
    <li><a href="/Dev/UserLastActivity">User Last Activity</a></li>
    <li><a href="/Dev/InviteYourself">Invite Yourself</a></li>
    
</ul>