<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<connectionStrings configSource="ConnectionStrings.config" />

	<appSettings>
		<add key="System Name" value="Ed's Room - DEV" />
		<add key="Sysop" value="cba5066b-6ee9-4bba-8770-118b0a65044a" />
		<add key="Anonymous" value="99a59481-c42a-4776-bf9c-a2b016ff1900" />
		<add key="Lobby Room" value="235e9248-0db3-4a97-bcc3-b2da87fc7aa8" />
		<add key="Mail Room" value="25e96c95-4a02-45e1-8644-0d93f32c4576" />
		<add key="Aide Room" value="ff2f7e04-75f4-4787-8d54-1ae63cb83ab8" />
		<add key="System Room" value="a4b3ffd2-bd3d-47e2-8ab9-a0da5d62cdd2" />
		<add key="Message Cull" value="32" />
		<add key="Active User Cutoff" value="30" />

		<add key="ResourceDirectory" value="~/App_Data/Resources" />

		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	</appSettings>

	<system.net>
		<mailSettings>
			<smtp configSource="Smtp.config" />
		</mailSettings>
	</system.net>

	<system.web>
		<!-- 10,000 kb max size (10 mb) -->
		<httpRuntime targetFramework="4.8"  maxRequestLength="10000" />

		<customErrors mode="Off"></customErrors>

		<compilation debug="true" targetFramework="4.8" />

		<!-- what's this do? is it important? -->
		<!--<trust level="Full" />-->

		<authentication mode="Forms">
			<forms loginUrl="~/Auth" timeout="2880" />
		</authentication>
	</system.web>

	<system.webServer>
		<security>
			<requestFiltering>
				<!-- 10,000,000 bytes max size (10 mb) -->
				<requestLimits maxAllowedContentLength="10000000" />
			</requestFiltering>
		</security>

		<!-- not sure what these do or if they are necessary any longer
			<validation validateIntegratedModeConfiguration="false" />
		-->

		<modules runAllManagedModulesForAllRequests="true" />

	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>