<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<appSettings>
		<add key="System Name" value="Ed's Room" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>

	<system.webServer>
		<!-- from: http://ruslany.net/2009/04/10-url-rewriting-tips-and-tricks/#canonical -->
		<rewrite xdt:Transform="Replace">
			<rules>
				<rule name="Canonical Host Name" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" negate="true" pattern="^edsroom\.com$" />
					</conditions>
					<action type="Redirect" url="http://edsroom.com/{R:1}" redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>

</configuration>